<app-player-lavel-progress/>
<div class="objective-cards">
  <app-horizontal-card iconColor="#68C773" [icon]="Zap" iconBackgroundColor="#E0EAF9" class="bg-[#E4F2EA]">
    <div card-content class="flex flex-col">
     <div class="font-light text-xs text-gray-400">XP TOTAL</div>
     <div class="font-bold">70</div>
    </div>
  </app-horizontal-card>
  <app-horizontal-card iconBackgroundColor="#E4F2EA" iconColor="#5991EA" [icon]="Shell" class="bg-[#E0EAF9]">
    <div card-content class="flex flex-col">
      <div class="font-light text-xs text-gray-400">OBJECTIFS</div>
      <div class="font-bold">1</div>
      <div class="font-light text-xs text-gray-400">0 terminé</div>
    </div>
  </app-horizontal-card>
</div>
<div>
  <app-horizontal-card iconBackgroundColor="#F6F9FC" iconColor="#5D646F" [icon]="TrendingUp">
    <div card-content class="flex flex-col">
      <div class="font-light text-xs text-gray-400">Progression globale</div>
      <div class="font-bold">33%</div>
      <div class="font-light text-xs text-gray-400">1 objectifs en cours</div>
    </div>
  </app-horizontal-card>
</div>



