:host{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  gap: 20px;

  .objective-cards{
    display: flex;
    flex: 2;
    flex-direction: row;
    gap: 10px;
  }
}
